body {
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  align-items: center;
}

.form-check {
  margin: 0 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: transparent;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 300px;
  height: 120px;
}

.form-check-label {
  font-size: larger;
}

.form-check-input {
  margin-left: 50px;
  font-size: medium;
}

.form-check:hover {
  background-color: #007bff;
  color: #fff;
}

.hide {
  display: none;
}

.text-form {
  font-size: larger;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check {
  margin: 0 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: transparent;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 300px;
  height: 120px;
}

.form-check-label {
  font-size: larger;
}

.form-check-input {
  margin-left: 50px;
  font-size: medium;
}

.form-check:hover {
  background-color: #007bff;
  color: #fff;
}

.hide {
  display: none;
}

.card {
  width: 800px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.text-form {
  font-size: larger;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.form-group {
  width: 85%;
  height: 10%;
  margin-left: 50px;
}

.sm {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  width: 15%;
  height: 20%;
  margin-top: 20px;
  margin-left: 380px;
  color: #fff;
}

.sm:hover {
  background-color: #008714;
  color: #fff;
}
