/* Navbar Background Color */
.navbar {
  background-color: #343a40; /* Dark Gray */
}

/* Navbar Brand Text Color */
.navbar-brand,
.navbar-brand:hover {
  color: #ffffff; /* White */
}

/* Navbar Toggler Icon Color */
.navbar-toggler-icon {
  background-color: #ffffff; /* White */
}

/* Navbar Text Color */
.navbar-nav .nav-link,
.navbar-text {
  color: #ffffff; /* White */
}

/* Navbar Active Link Color */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover {
  color: #ffc107; /* Yellow */
}

/* Dropdown Menu Background Color */
.dropdown-menu {
  background-color: #343a40; /* Dark Gray */
}

/* Dropdown Menu Link Color */
.dropdown-menu a.dropdown-item {
  color: #ffffff; /* White */
}

/* Dropdown Menu Link Hover Background Color */
.dropdown-menu a.dropdown-item:hover {
  background-color: #495057; /* Gray */
}

/* Profile Image Border Color */
.dropdown-menu img.rounded-circle {
  border: 2px solid #ffffff; /* White */
}

/* Search Button Background Color */
.btn-outline-success.btn-pink {
  background-color: #008714; /* Yellow */
  border-color: #ffc107; /* Yellow */
  color: #ffffff; /* White */
}

/* Search Button Hover Background Color */
.btn-outline-success.btn-pink:hover {
  background-color: #ffcd38; /* Light Yellow */
  border-color: #ffcd38; /* Light Yellow */
  color: #343a40; /* Dark Gray */
}

/* Active Search Input Field Border Color */
.form-control:focus {
  border-color: #ffc107; /* Yellow */
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25); /* Yellow Shadow */
}
